*
{
    margin: 0;
    padding: 0;
}
.nabr img{
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    border-top: 5px inset #0992FF;
    border-radius: 40px;

}
.nabr{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav{
    margin-top: 40px;
}
.nav img{
    width: 20px;
    border: none;
    padding-left: 10px;
}
.nav a  {
    font-size: 18px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    padding:25px;
    text-decoration: none;
    color: black;
   
}
.nav a:hover{
    border-bottom: 2px solid black;
    transition: 0.5s;
}
.order{
    font-size: 18px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
   margin-top: 35px;
   margin-right: 100px;
    text-decoration: none;
    color: black;

}
.order:hover{
    border-bottom: 2px solid black;
    transition: 0.5s;
}

.content{
    margin-top: 20px;
    padding: 0px;
    background-image: url(ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;

}

.slideInLeft {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 
        .slideInLeft p{
            font-size: 20px;
        text-shadow: none;
        padding-left: 100px;
        }
        .content button{
            position: relative;
           left: 45%;
           top : 67%;
            border: 2px solid white;
            width: 200px;
            height: 50px;
            font-size: x-large;
           
        }
        .content button:hover{
            -webkit-box-shadow:0px 0px 150px 23px rgba(255,255,255,0.9);
-moz-box-shadow: 0px 0px 150px 23px rgba(255,255,255,0.9);
box-shadow: 0px 0px 150px 23px rgba(255,255,255,0.9);
            
        }

        .skills{
          color: white;
          background-color: black;

        }
        .ski{
           padding: 60px;
           font-size: xx-large;
        }
        .box{
          display: flex;
            padding: 20px;
            text-align: center;
        }
        .sem img{
            width: 150px;
	height: 150px;
	border-radius: 50%;
        }
        .sem p{
            font-size: 20px;
        }
        .sem{ 
            background: rgba( 2, 226, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 9.5px );
            -webkit-backdrop-filter: blur( 9.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
           
            margin: 20px;
            padding: 20px;
        border: 1px solid white;
        }
        .sem:hover{
            -webkit-box-shadow:0px 0px 91px 2px rgba(46,164,255,0.9);
            -moz-box-shadow: 0px 0px 91px 2px rgba(46,164,255,0.9);
            box-shadow: 0px 0px 91px 2px rgba(46,164,255,0.9);

        }


       
      


